@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  font-family: 'Fira Sans', 'Noto Sans JP', sans-serif;
  background: #ebebeb;
  color: #1c1c1c;
  letter-spacing: 0.05em;
  counter-reset: number 0;
  animation: fadein 5s forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

a {
  color: #1c1c1c;
  text-decoration: underline;
}

@media screen and (max-width: 479px) {
  #wrap {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    overflow-x: hidden;
  }
  p {
    line-height: 1.5em;
  }
}

@media screen and (min-width: 480px) {
  #wrap {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 32px;
  }
  p {
    line-height: 1.75em;
  }
}

/********** 以下、h1 **********/
@media (min-width: 320px) and (max-width: 479px) {
  .site-title {
    height: 50vh;
    position: absolute;
    bottom: 1.5rem;
    right: 0px;
  }
  .site-title__text {
    width: 320px;
    text-align: center;
    position: relative;
    font-size: 1.75rem;
    font-weight: bold;
    color: #dddada;
    text-shadow: 0 1px 0 #333, 0 2px 0 #333, 0 3px 0 #333, 0 4px 0 #333, 0 5px 0 #333, 0 6px 0 #333, 0 7px 0 #333, 0 8px 0 #333, 0 9px 0 #333, 0 50px 30px rgba(0, 0, 0, 0.3);
    -webkit-animation: fadein 4s 1s forwards;
    animation: fadein 4s 1s forwards;
    opacity: 0;
  }
  @-webkit-keyframes fadein {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  /* テキストをなぞるように色がつくアニメーション */
  .site-title__text::before {
    content: attr(data-txt);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #ffe058;
    clip: rect(0, 0, 0, 0);
    transition: clip 1.5s linear;
    -webkit-animation: fadein 4s 3s forwards;
    animation: textin 4s 3s forwards;
  }
  @-webkit-keyframes textin {
    0% {
      clip: rect(0, 0, 0, 0);
    }
    100% {
      clip: rect(0, 320px, 30px, 0);
    }
  }
  @keyframes textin {
    0% {
      clip: rect(0, 0, 0, 0);
    }
    100% {
      clip: rect(0, 320px, 30px, 0);
    }
  }
}

@media screen and (min-width: 480px) {
  .site-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
  .site-title__text {
    width: 480px;
    text-align: center;
    position: relative;
    font-size: 2.375rem;
    font-weight: bold;
    color: #dddada;
    letter-spacing: .1em;
    text-shadow: 0 1px 0 #333, 0 2px 0 #333, 0 3px 0 #333, 0 4px 0 #333, 0 5px 0 #333, 0 6px 0 #333, 0 7px 0 #333, 0 8px 0 #333, 0 9px 0 #333, 0 50px 30px rgba(0, 0, 0, 0.3);
    -webkit-animation: fadein 4s 1s forwards;
    animation: fadein 4s 1s forwards;
    opacity: 0;
  }
  @-webkit-keyframes fadein {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  /* テキストをなぞるように色がつくアニメーション */
  .site-title__text::before {
    content: attr(data-txt);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #ffe058;
    clip: rect(0, 0, 0, 0);
    transition: clip 1.5s linear;
    -webkit-animation: fadein 4s 3s forwards;
    animation: textin 4s 3s forwards;
  }
  @-webkit-keyframes textin {
    0% {
      clip: rect(0, 0, 0, 0);
    }
    100% {
      clip: rect(0, 480px, 40px, 0);
    }
  }
  @keyframes textin {
    0% {
      clip: rect(0, 0, 0, 0);
    }
    100% {
      clip: rect(0, 480px, 40px, 0);
    }
  }
}

@media screen and (min-width: 600px) {
  .site-title__text {
    width: 600px;
    font-size: 3.125rem;
  }
  @-webkit-keyframes textin {
    0% {
      clip: rect(0, 0, 0, 0);
    }
    100% {
      clip: rect(0, 600px, 60px, 0);
    }
  }
  @keyframes textin {
    0% {
      clip: rect(0, 0, 0, 0);
    }
    100% {
      clip: rect(0, 600px, 60px, 0);
    }
  }
}

/********** 以下、h2 **********/
.sec-title {
  font-size: 2.5rem;
  text-align: center;
  margin: 5rem 0 1rem;
}

.sec-title__left {
  position: relative;
}

.sec-title__right {
  position: relative;
}

/******* タイトル背景スクロールイン ******/
@media screen and (min-width: 480px) {
  .sec-title {
    font-size: 3.75rem;
    margin: 120px 0 40px;
  }
}

.sec-title__left {
  text-align: left;
  padding-left: 10%;
  position: relative;
}

.sec-title__right {
  text-align: right;
  padding-right: 10%;
  position: relative;
}

/* スクロール前 */
.sec-title__left::before {
  content: '';
  background: #ffe058;
  position: absolute;
  left: -100%;
  z-index: -1;
  transition: all .7s ease-in;
}

/* スクロールイン後 */
.sec-title__left.fadeIn::before {
  content: '';
  background: #ffe058;
  position: absolute;
  top: -40px;
  left: 0;
  border-style: solid;
  border-width: 0 0 100px 80vw;
  border-color: transparent transparent #ebebeb transparent;
  width: 0;
  height: 0;
  margin: 0 -32px;
  z-index: -1;
}

/* スクロール前 */
.sec-title__right::before {
  content: '';
  background: #ffe058;
  position: absolute;
  right: -100%;
  z-index: -1;
  transition: all .7s ease-in;
}

/* スクロールイン後 */
.sec-title__right.fadeIn::before {
  content: '';
  background: #ffe058;
  position: absolute;
  top: -40px;
  right: 0;
  border-style: solid;
  border-width: 100px 0 0 80vw;
  border-color: transparent transparent transparent #ebebeb;
  width: 0;
  height: 0;
  margin: 0 -32px;
  z-index: -1;
}

/********** 以下、h3 **********/
.mid-title {
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .mid-title {
    font-size: 1.25rem;
  }
}

/********** 以下、ページリンクテキスト **********/
.pagefeed {
  width: 100%;
  padding: 1rem;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .pagefeed {
    width: 100%;
    padding: 1.5rem;
    text-align: center;
  }
}

.pagefeed a {
  font-size: 1.25rem;
}

.pagefeed::after {
  content: ">";
  padding-left: 0.5rem;
}

/********** 以下、セクション共通余白 **********/
.section-wrap {
  padding: 2.5rem 0;
}

.load-wrap {
  width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #ebebeb;
}

.trinity-rings-spinner {
  height: 66px;
  width: 66px;
  padding: 3px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  box-sizing: border-box;
}

.trinity-rings-spinner .circle {
  position: absolute;
  display: block;
  border-radius: 50%;
  border: 3px solid #d36836;
  opacity: 1;
}

.trinity-rings-spinner .circle:nth-child(1) {
  height: 60px;
  width: 60px;
  animation: trinity-rings-spinner-circle1-animation 1.5s infinite linear;
  border-width: 3px;
}

.trinity-rings-spinner .circle:nth-child(2) {
  height: calc(60px * 0.65);
  width: calc(60px * 0.65);
  animation: trinity-rings-spinner-circle2-animation 1.5s infinite linear;
  border-width: 2px;
}

.trinity-rings-spinner .circle:nth-child(3) {
  height: calc(60px * 0.1);
  width: calc(60px * 0.1);
  animation: trinity-rings-spinner-circle3-animation 1.5s infinite linear;
  border-width: 1px;
}

@keyframes trinity-rings-spinner-circle1-animation {
  0% {
    transform: rotateZ(20deg) rotateY(0deg);
  }
  100% {
    transform: rotateZ(100deg) rotateY(360deg);
  }
}

@keyframes trinity-rings-spinner-circle2-animation {
  0% {
    transform: rotateZ(100deg) rotateX(0deg);
  }
  100% {
    transform: rotateZ(0deg) rotateX(360deg);
  }
}

@keyframes trinity-rings-spinner-circle3-animation {
  0% {
    transform: rotateZ(100deg) rotateX(-360deg);
  }
  100% {
    transform: rotateZ(-360deg) rotateX(360deg);
  }
}

/**********以下、タイトルアニメーション**********/
.opening-title {
  font-size: 2rem;
  letter-spacing: .5em;
}

@media screen and (min-width: 400px) {
  .opening-title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 480px) {
  .opening-title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 600px) {
  .opening-title {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1025px) {
  .opening-title {
    font-size: 6rem;
  }
}

.opening-title span {
  color: #d36836;
  font-family: 'Changa One', cursive;
  font-weight: bold;
}

.opening-title span:nth-of-type(1) {
  display: inline-block;
  -webkit-animation: bounce 2.2s both 2s;
  animation: bounce 2.2s both 2s;
}

.opening-title span:nth-of-type(2) {
  display: inline-block;
  -webkit-animation: bounce 2s both 2s;
  animation: bounce 2s both 2s;
}

.opening-title span:nth-of-type(3) {
  display: inline-block;
  -webkit-animation: bounce 1.4s both 2s;
  animation: bounce 1.4s both 2s;
}

.opening-title span:nth-of-type(4) {
  display: inline-block;
  -webkit-animation: bounce 2.2s both 2s;
  animation: bounce 2.2s both 2s;
}

.opening-title span:nth-of-type(5) {
  display: inline-block;
  -webkit-animation: bounce 1.6s both 2s;
  animation: bounce 1.6s both 2s;
}

.opening-title span:nth-of-type(6) {
  display: inline-block;
  -webkit-animation: bounce 2.5s both 2s;
  animation: bounce 2.5s both 2s;
}

.opening-title span:nth-of-type(7) {
  display: inline-block;
  -webkit-animation: bounce 1.8s both 2s;
  animation: bounce 1.8s both 2s;
}

.opening-title span:nth-of-type(8) {
  display: inline-block;
  -webkit-animation: bounce 1.9s both 2s;
  animation: bounce 1.9s both 2s;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-40vh);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    transform-origin: 50% 50%;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-40vh);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    transform-origin: 50% 50%;
  }
}

.hero {
  width: 100%;
  height: 50vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  background: linear-gradient(0deg, #ebebeb 0%, rgba(246, 178, 101, 0.202235) 50%, rgba(255, 135, 0, 0.199386) 100%), url(./../../img/sp-hero.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.youtube-wrap {
  display: none;
}

@media screen and (min-width: 480px) {
  .hero {
    width: 100vw;
    height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
  }
  .youtube-wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .youtube-wrap::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: radial-gradient(#000 30%, transparent 31%);
    background-image: radial-gradient(#000 30%, transparent 31%);
    background-size: 4px 4px;
    background-position: 0 0, 2px 2px;
  }
}

#header {
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  height: 10vh;
  margin: 0 auto;
}

.header-menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .header-menu__list {
    width: calc(100% / 3);
    z-index: 100;
  }
}

.header-menu__list a {
  display: block;
  padding: .5em;
  font-size: 1.125rem;
  color: #ebebeb;
  text-shadow: 1px 1px 5px;
  transform: scale(1);
  transition: .3s;
  text-decoration: none;
}

.header-menu__list a:hover {
  transform: scale(1.4);
}

@media screen and (min-width: 320px) {
  .release__wrapper {
    width: 100%;
    margin: 0 auto;
  }
  /* 以下、ジャケット写真 */
  .release-img {
    width: 80%;
    margin: 0 auto 1rem;
  }
  .release-img img {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .release__wrapper {
    display: flex;
    justify-content: center;
    max-width: 50rem;
  }
  .release-img {
    max-width: 25rem;
  }
  .release-img img {
    width: 100%;
  }
}

/* 以下、ジャケット紹介 */
.release__wrapper--right {
  width: 100%;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) and (max-width: 768px) {
  .release__wrapper--right {
    width: 100%;
    max-width: 18.75rem;
  }
}

.release__number {
  padding: 0.5rem;
}

.release__number::before {
  counter-increment: number 1;
  content: counter(number) " ";
}

.release-pagefeed a {
  font-weight: bold;
  color: #dd1515;
}

.information-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 1rem;
  border-bottom: 1px solid #1c1c1c;
}

.information-list__date {
  width: 100%;
  padding-bottom: 0.5rem;
}

.information-list__about {
  width: 100%;
  word-wrap: break-word;
}

@media screen and (min-width: 600px) {
  .information-list {
    display: flex;
    flex-direction: row;
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
  .information-list__date {
    width: 200px;
  }
  .information-list__about {
    width: calc(100% - 200px);
    word-wrap: break-word;
  }
}

.member-wrap {
  display: flex;
  flex-wrap: wrap;
}

.member-thumbnail {
  position: relative;
  width: 50%;
  height: auto;
  padding-top: 50%;
  outline: 1px solid #111;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .member-thumbnail {
    height: 18.75rem;
  }
}

.member-thumbnail::before {
  content: "";
  display: block;
  padding-top: 50%;
}

.member-thumbnail img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale(90%);
  transition-duration: 0.3s;
}

.member-thumbnail img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
  transition-duration: 0.5s;
}

@media screen and (min-width: 600px) {
  .member-thumbnail {
    width: calc(100% / 3);
    padding-top: calc(100% / 3);
  }
}

figcaption {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.875rem;
  color: #ebebeb;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 600px) {
  figcaption {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    padding-left: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.875rem;
    color: #ebebeb;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
