@charset "UTF-8";
body {
  font-family: 'Fira Sans', 'Noto Sans JP', sans-serif;
  background-color: #d4d4d4;
  color: #1c1c1c;
}

.opening {
  width: 100vw;
  height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  font-family: 'Changa One', cursive;
  font-weight: bold;
  background: #333;
}

.opening-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/*********以下、カーテンアニメーション**********/
.opening-curtain::before,
.opening-curtain::after {
  position: fixed;
  z-index: 1;
  top: -15%;
  display: block;
  visibility: hidden;
  width: 50%;
  height: 130%;
  content: '';
  background-color: #dfe156;
}

.opening-curtain::before {
  left: 0;
  animation: curtain_left 3s;
  -webkit-animation: curtain_left 3s;
}

.opening-curtain::after {
  right: 0;
  animation: curtain_right 3s;
  -webkit-animation: curtain_right 3s;
}

@-webkit-keyframes curtain_left {
  0% {
    visibility: visible;
  }
  20% {
    transform: rotate(0deg) translateX(0%);
    background-color: #86c688;
  }
  40% {
    transform: rotate(6deg) translateX(-40%);
    background-color: #3d9abc;
  }
  60% {
    transform: rotate(8deg) translateX(-50%);
    background-color: #7c3dbc;
  }
  80% {
    transform: rotate(10deg) translateX(-50%);
    opacity: 1;
    background-color: #bd2131;
  }
  100% {
    transform: rotate(0deg) translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes curtain_left {
  0% {
    visibility: visible;
  }
  20% {
    transform: rotate(0deg) translateX(0%);
    background-color: #86c688;
  }
  40% {
    transform: rotate(6deg) translateX(-40%);
    background-color: #3d9abc;
  }
  60% {
    transform: rotate(8deg) translateX(-50%);
    background-color: #7c3dbc;
  }
  80% {
    transform: rotate(10deg) translateX(-50%);
    opacity: 1;
    background-color: #bd2131;
  }
  100% {
    transform: rotate(0deg) translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes curtain_right {
  0% {
    visibility: visible;
  }
  20% {
    transform: rotate(0deg) translateX(0%);
    background-color: #86c688;
  }
  40% {
    transform: rotate(-6deg) translateX(40%);
    background-color: #3d9abc;
  }
  60% {
    transform: rotate(-8deg) translateX(50%);
    background-color: #7c3dbc;
  }
  80% {
    transform: rotate(-10deg) translateX(50%);
    opacity: 1;
    background-color: #bd2131;
  }
  100% {
    transform: rotate(0deg) translateX(100%);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes curtain_right {
  0% {
    visibility: visible;
  }
  20% {
    transform: rotate(0deg) translateX(0%);
    background-color: #86c688;
  }
  40% {
    transform: rotate(-6deg) translateX(40%);
    background-color: #3d9abc;
  }
  60% {
    transform: rotate(-8deg) translateX(50%);
    background-color: #7c3dbc;
  }
  80% {
    transform: rotate(-10deg) translateX(50%);
    opacity: 1;
    background-color: #bd2131;
  }
  100% {
    transform: rotate(0deg) translateX(100%);
    opacity: 0;
    visibility: hidden;
  }
}

/**********以下、タイトルアニメーション**********/
.opening-title {
  font-size: 2rem;
  letter-spacing: .5em;
}

@media screen and (min-width: 480px) {
  .opening-title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .opening-title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .opening-title {
    font-size: 4rem;
  }
}

.opening-title span:nth-of-type(1) {
  color: #ad1f32;
  display: inline-block;
  -webkit-animation: bounce 2.2s both 2s;
  animation: bounce 2.2s both 2s;
}

.opening-title span:nth-of-type(2) {
  color: #991da5;
  display: inline-block;
  -webkit-animation: bounce 2s both 2s;
  animation: bounce 2s both 2s;
}

.opening-title span:nth-of-type(3) {
  color: #1f47ad;
  display: inline-block;
  -webkit-animation: bounce 1.4s both 2s;
  animation: bounce 1.4s both 2s;
}

.opening-title span:nth-of-type(4) {
  color: #25acd4;
  display: inline-block;
  -webkit-animation: bounce 2.2s both 2s;
  animation: bounce 2.2s both 2s;
}

.opening-title span:nth-of-type(5) {
  color: #26d944;
  display: inline-block;
  -webkit-animation: bounce 1.6s both 2s;
  animation: bounce 1.6s both 2s;
}

.opening-title span:nth-of-type(6) {
  color: #d6d926;
  display: inline-block;
  -webkit-animation: bounce 2.5s both 2s;
  animation: bounce 2.5s both 2s;
}

.opening-title span:nth-of-type(7) {
  color: #d9a026;
  display: inline-block;
  -webkit-animation: bounce 1.8s both 2s;
  animation: bounce 1.8s both 2s;
}

.opening-title span:nth-of-type(8) {
  color: #d53f2b;
  display: inline-block;
  -webkit-animation: bounce 1.9s both 2s;
  animation: bounce 1.9s both 2s;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-50vh);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    transform-origin: 50% 50%;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-50vh);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    transform-origin: 50% 50%;
  }
}

.hero {
  width: 100%;
  height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  background-image: url(../../img/harehare1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.youtube-wrap {
  display: none;
}

@media screen and (min-width: 480px) {
  .hero {
    width: 100vw;
    height: 90vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
  }
  .youtube-wrap {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .youtube-wrap::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: radial-gradient(#000 30%, transparent 31%);
    background-image: radial-gradient(#000 30%, transparent 31%);
    background-size: 4px 4px;
    background-position: 0 0, 2px 2px;
  }
}

/******ハンバーガーメニュー（SPのみ）******/
/*ハンバーガーボタン オープン時*/
#button {
  position: fixed;
  top: 2em;
  right: 2em;
  z-index: 100;
}

.button-trigger {
  position: relative;
  width: 50px;
  height: 44px;
  cursor: pointer;
}

.button-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #1c1c1c;
  border-radius: 4px;
}

.button-trigger,
.button-trigger span {
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
}

.button-trigger span:nth-of-type(1) {
  top: 0;
}

.button-trigger span:nth-of-type(2) {
  top: 20px;
}

.button-trigger span:nth-of-type(3) {
  bottom: 0;
}

/*ハンバーガーボタン クローズ時*/
.button.active::after {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #1c1c1c;
  transition: all .7s;
}

.button.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(45deg);
  transform: translateY(20px) rotate(45deg);
}

.button.active span:nth-of-type(2) {
  left: 60%;
  opacity: 0;
  -webkit-animation: active-button-bar02 .8s forwards;
  animation: active-button-bar02 .8s forwards;
}

@-webkit-keyframes active-button-bar02 {
  100% {
    height: 0;
  }
}

@keyframes active-button-bar02 {
  100% {
    height: 0;
  }
}

.button.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(-45deg);
  transform: translateY(-20px) rotate(-45deg);
}

.button.active::after {
  border: 2px solid #5c5c5c;
}

/*PC時グローバルナビ*/
@media screen and (min-width: 481px) {
  #button {
    display: none;
  }
  #header-nav {
    width: 100%;
    height: 80px;
  }
  #header-nav .header-nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    height: 80px;
  }
  #header-nav .header-nav__list li a {
    display: block;
    padding: .5em;
    transition: .3s;
    transform: scale(1);
    color: #1c1c1c;
  }
  #header-nav .header-nav__list li a:hover {
    transform: scale(1.2);
  }
}
