@import "../mixin/mixin";

/******* 下層ページh1 ********/
@media screen and (max-width: 479px) {
  .bottom-title {
    width: 100%;
  }

  .bottom-title__text {
    margin: rem(40) auto;
  }

  .bottom-title__text::before {
    animation: textin 4s 1s forwards;
  }
}

@include mq(sp) {
  .bottom-title {
    width: 100%;
    padding: rem(80);
  }

  .bottom-title__text {
    position: absolute;
    top: 12vh;
    left: 50%;
    transform: translateX(-50%);
  }
}

/******* 下層ページh2 ********/
.sec-title__right::before {
  content: '';
  background: #ffe058;
  position: absolute;
  top: -40px;
  right: 0;
  border-style: solid;
  border-width: 100px 0 0 80vw;
  border-color: transparent transparent transparent #ebebeb;
  width: 0;
  height: 0;
  margin: 0 -32px;
  z-index: -1;
}

/******* ヘッダー ******/
@media screen and (max-width: 479px) {

  /******* ハンバーガーメニュー ******/
  .member-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: rem(200);
    height: 100vh;
    position: fixed;
    top: 0;
    right: rem(-200);
    z-index: 200;
    overflow-y: auto;
    background-color: rgba(220, 220, 220, 0.9);
    transition: all .6s;
  }

  .member-menu__list {
    width: 100%;
    text-align: center;
    padding: rem(16);
  }

  // メンバーリスト
  .member-menu__list:nth-child(-n + 5) {
    background-color: #d36836;
  }

  .member-menu__list:nth-child(1)::before {
    content: "<member>";
    position: absolute;
    top: rem(48);
    left: rem(8);
  }

  .member-menu__list:nth-child(1) {
    padding-top: rem(48);
  }

  .member-menu__list:nth-child(5) {
    padding-bottom: rem(40);
  }

  // トップメニューリスト
  .member-menu__list:nth-child(6) {
    padding-top: rem(48);
  }

  .member-menu__list:nth-child(6)::before {
    content: "<top menu>";
    position: absolute;
    top: rem(340);
    left: rem(8);
  }

  /* 表示された時用のCSS */
  .nav_open #header .member-menu {
    right: 0;
  }

  .nav_open .nav_bg {
    opacity: .8;
    visibility: visible;
  }

  .nav_open .hamburger_line1 {
    transform: rotate(45deg);
    top: 20px;
  }

  .nav_open .hamburger_line2 {
    width: 0;
    left: 50%;
  }

  .nav_open .hamburger_line3 {
    transform: rotate(-45deg);
    top: 20px;
  }

}

@media screen and (min-width: 480px) {
  .header {
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }

  .member-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    height: 10vh;
    margin: 0 auto;
  }


  .member-menu__list:nth-child(-n + 5) {
    display: none; // PC時はメンバーリストを非表示
  }

  .member-menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .member-menu__list a {
    display: block;
    padding: .5em;
    font-size: rem(18);
    color: #1c1c1c;
    text-shadow: 1px 1px 5px;
    transform: scale(1);
    transition: .3s;
    text-decoration: none;
  }

  .member-menu__list a:hover {
    transform: scale(1.4);
  }
}

/******* コンテンツ ******/
@include mq(tab) {
  .member-wrap {
    display: flex;
    visibility: visible;
  }

  .member-contents {
    width: 70%;
    margin-bottom: rem(80);
  }

  .member-contents:nth-child(2n) {
    margin-left: auto;
  }

  .member-name {
    font-size: rem(32);
    padding: rem(16) 0;
  }

  .member-content {
    display: flex;
    // justify-content: space-around;
    // width: rem(300);
    margin-bottom: rem(24);
  }

  .member-photo {
    width: rem(400);
    height: rem(400);
  }

  .member-photo img {
    width: 100%;
    height: 100%;
  }

  .member-social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: rem(240);
    margin: auto rem(16);

    a {
      display: inline-block;
      font-size: rem(24);
      width: 100%;
    }

  }
}