@charset "UTF-8";
html {
  font-size: 16px;
}

/******* 下層ページh1 ********/
@media screen and (max-width: 479px) {
  .bottom-title {
    width: 100%;
  }
  .bottom-title__text {
    margin: 2.5rem auto;
  }
  .bottom-title__text::before {
    animation: textin 4s 1s forwards;
  }
}

@media screen and (min-width: 480px) {
  .bottom-title {
    width: 100%;
    padding: 5rem;
  }
  .bottom-title__text {
    position: absolute;
    top: 12vh;
    left: 50%;
    transform: translateX(-50%);
  }
}

/******* 下層ページh2 ********/
.sec-title__right::before {
  content: '';
  background: #ffe058;
  position: absolute;
  top: -40px;
  right: 0;
  border-style: solid;
  border-width: 100px 0 0 80vw;
  border-color: transparent transparent transparent #ebebeb;
  width: 0;
  height: 0;
  margin: 0 -32px;
  z-index: -1;
}

/******* コンテンツ ******/
.member-wrap {
  display: flex;
  visibility: visible;
}

.member-contents {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.member-name {
  padding: 1rem 0;
}

.member-content {
  display: flex;
  justify-content: space-around;
  width: 18.75rem;
  margin: 0 auto 1.5rem;
}

.member-photo {
  width: 12.5rem;
  height: 12.5rem;
}

.member-photo img {
  width: 100%;
  height: 100%;
}

.member-social {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  margin: auto 0;
}

.member-social a {
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 479px) {
  /******* ハンバーガーメニュー ******/
  .header-menu {
    width: 40%;
    height: 100vh;
    padding-top: 40px;
    position: fixed;
    top: 0;
    right: -40%;
    z-index: 200;
    overflow-y: auto;
    background-color: rgba(235, 235, 235, 0.9);
    transition: all .6s;
  }
  .nav_btn {
    width: 44px;
    height: 44px;
    position: fixed;
    bottom: 32px;
    right: 16px;
    z-index: 300;
    cursor: pointer;
  }
  .hamburger_line {
    width: 34px;
    height: 2px;
    position: absolute;
    left: 5px;
    background-color: #1c1c1c;
    transition: all .6s;
  }
  .hamburger_line1 {
    top: 10px;
  }
  .hamburger_line2 {
    top: 21px;
  }
  .hamburger_line3 {
    top: 32px;
  }
  .nav_bg {
    width: 100vw;
    height: 100vh;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    background-color: rgba(28, 28, 28, 0.9);
    transition: all .6s;
    cursor: pointer;
  }
  /* 表示された時用のCSS */
  .nav_open #header .drawer__menu {
    right: 0;
  }
  .nav_open .nav_bg {
    opacity: .8;
    visibility: visible;
  }
  .nav_open .hamburger_line1 {
    transform: rotate(45deg);
    top: 20px;
  }
  .nav_open .hamburger_line2 {
    width: 0;
    left: 50%;
  }
  .nav_open .hamburger_line3 {
    transform: rotate(-45deg);
    top: 20px;
  }
}
