// ・・・・・・・ レスポンシブwidth設定（スマホ基準）・・・・・・・
$mq-breakpoints: ('xs': 320px,
  'sp': 480px,
  'tab': 600px,
  'pc' : 1025px,
  'full': 1280px,
);

@mixin mq($breakpoint: sp) {
  @media screen and (min-width: #{map-get($mq-breakpoints, $breakpoint)}) {
    @content;
  }
}

// ・・・・・・・ 色設定・・・・・・・
@mixin ftcolor($color: #1c1c1c) {
  color: $color;
}

// ・・・・・・・ フォントサイズ・・・・・・・
$baseFontsize: 16;

html {
  font-size: $baseFontsize + px;
}

@function rem($pixels) {
  @return $pixels / $baseFontsize * 1rem;
}