#header {
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  height: 10vh;
  margin: 0 auto;
}

.header-menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .header-menu__list {
    width: calc(100% / 3);
    z-index: 100;
  }
}

.header-menu__list a {
  display: block;
  padding: .5em;
  font-size: rem(18);
  color: #ebebeb;
  text-shadow: 1px 1px 5px;
  transform: scale(1);
  transition: .3s;
  text-decoration: none;
}

.header-menu__list a:hover {
  transform: scale(1.4);
}