.hero {
  width: 100%;
  height: 50vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  background: linear-gradient(0deg, rgba(235, 235, 235, 1) 0%, rgba(246, 178, 101, 0.20223468660968658) 50%, rgba(255, 135, 0, 0.19938568376068377) 100%), url(./../../img/sp-hero.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}


.youtube-wrap {
  display: none;
}

@include mq(sp) {
  .hero {
    width: 100vw;
    height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
  }


  .youtube-wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  .youtube-wrap::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: radial-gradient(#000 30%, transparent 31%);
    background-image: radial-gradient(#000 30%, transparent 31%);
    background-size: 4px 4px;
    background-position: 0 0, 2px 2px;
  }
}