.opening {
  width: 100vw;
  height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  font-family: 'Changa One', cursive;
  font-weight: bold;
  background: #333;
}

.opening-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/*********以下、カーテンアニメーション**********/
.opening-curtain::before,
.opening-curtain::after {
  position: fixed;
  z-index: 1;
  top: -15%;
  display: block;
  visibility: hidden;
  width: 50%;
  height: 130%;
  content: '';
  background-color: #e2421a;
}

.opening-curtain::before {
  left: 0;
  animation: curtain_left 3s;
  -webkit-animation: curtain_left 3s;
}

.opening-curtain::after {
  right: 0;
  animation: curtain_right 3s;
  -webkit-animation: curtain_right 3s;
}

@-webkit-keyframes curtain_left {
  0% {
    visibility: visible;
  }

  20% {
    transform: rotate(0deg) translateX(0%);
    background-color: #d29a89;
  }

  40% {
    transform: rotate(6deg) translateX(-40%);
    // background-color: #3d9abc;
  }

  60% {
    transform: rotate(8deg) translateX(-50%);
    // background-color: #7c3dbc;
  }

  80% {
    transform: rotate(10deg) translateX(-50%);
    opacity: 1;
    // background-color: #bd2131;
  }

  100% {
    transform: rotate(0deg) translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes curtain_left {
  0% {
    visibility: visible;
  }

  20% {
    transform: rotate(0deg) translateX(0%);
    background-color: #d29a89;
  }

  40% {
    transform: rotate(6deg) translateX(-40%);
    // background-color: #3d9abc;
  }

  60% {
    transform: rotate(8deg) translateX(-50%);
    // background-color: #7c3dbc;
  }

  80% {
    transform: rotate(10deg) translateX(-50%);
    opacity: 1;
    // background-color: #bd2131;
  }

  100% {
    transform: rotate(0deg) translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes curtain_right {
  0% {
    visibility: visible;
  }

  20% {
    transform: rotate(0deg) translateX(0%);
    background-color: #d29a89;
  }

  40% {
    transform: rotate(-6deg) translateX(40%);
    // background-color: #3d9abc;
  }

  60% {
    transform: rotate(-8deg) translateX(50%);
    // background-color: #7c3dbc;
  }

  80% {
    transform: rotate(-10deg) translateX(50%);
    opacity: 1;
    // background-color: #bd2131;
  }

  100% {
    transform: rotate(0deg) translateX(100%);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes curtain_right {
  0% {
    visibility: visible;
  }

  20% {
    transform: rotate(0deg) translateX(0%);
    background-color: #d29a89;
  }

  40% {
    transform: rotate(-6deg) translateX(40%);
    // background-color: #3d9abc;
  }

  60% {
    transform: rotate(-8deg) translateX(50%);
    // background-color: #7c3dbc;
  }

  80% {
    transform: rotate(-10deg) translateX(50%);
    opacity: 1;
    // background-color: #bd2131;
  }

  100% {
    transform: rotate(0deg) translateX(100%);
    opacity: 0;
    visibility: hidden;
  }
}

/**********以下、タイトルアニメーション**********/
.opening-title {
  font-size: 2rem;
  letter-spacing: .5em;

  @media screen and (min-width: 400px) {
    font-size: 2.5rem;
  }

  @include mq(sp) {
    font-size: 3rem;
  }

  @include mq(tab) {
    font-size: 5rem;
  }

  @include mq(pc) {
    font-size: 6rem;
  }
}

.opening-title span:nth-of-type(1) {
  color: rgb(173, 31, 50);
  display: inline-block;
  -webkit-animation: bounce 2.2s both 2s;
  animation: bounce 2.2s both 2s;
}

.opening-title span:nth-of-type(2) {
  color: rgb(153, 29, 165);
  display: inline-block;
  -webkit-animation: bounce 2s both 2s;
  animation: bounce 2s both 2s;
}

.opening-title span:nth-of-type(3) {
  color: rgb(31, 71, 173);
  display: inline-block;
  -webkit-animation: bounce 1.4s both 2s;
  animation: bounce 1.4s both 2s;
}

.opening-title span:nth-of-type(4) {
  color: rgb(37, 172, 212);
  display: inline-block;
  -webkit-animation: bounce 2.2s both 2s;
  animation: bounce 2.2s both 2s;
}

.opening-title span:nth-of-type(5) {
  color: rgb(38, 217, 68);
  display: inline-block;
  -webkit-animation: bounce 1.6s both 2s;
  animation: bounce 1.6s both 2s;
}

.opening-title span:nth-of-type(6) {
  color: rgb(214, 217, 38);
  display: inline-block;
  -webkit-animation: bounce 2.5s both 2s;
  animation: bounce 2.5s both 2s;
}

.opening-title span:nth-of-type(7) {
  color: rgb(217, 160, 38);
  display: inline-block;
  -webkit-animation: bounce 1.8s both 2s;
  animation: bounce 1.8s both 2s;
}

.opening-title span:nth-of-type(8) {
  color: rgb(213, 63, 43);
  display: inline-block;
  -webkit-animation: bounce 1.9s both 2s;
  animation: bounce 1.9s both 2s;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-50vh);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    transform-origin: 50% 50%;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-50vh);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    transform-origin: 50% 50%;
  }
}